/* includeFile/footer.css */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* 或者根据需要设置为fixed或其他值 */
    bottom: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

footer .site-nav {
    display: flex;
    gap: 10px; /* 导航链接之间的间距 */
}